[class*="col"] {
    background-color: #0d6efd;
    color: white;
}
.row{
    background-color: white !important;
}
  
[class*="container"] {
    margin-bottom: 5rem;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}
p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tall {
    height: 0px;
}
.left{
    background-color: forestgreen;
    height: 500px;
}
.right{
    background-color: lightsalmon;
}
.jumbotron{
    background-color: mediumpurple;
}
.nav{
    height: 60px;
    background-color: crimson;
}
.head {
    height: 4rem;
    background-color:  gray;
}
.footer{
    height: 60px;
    text-align: center;
    background-color: blueviolet;
}